.pageName {
    position: relative;
    left: 40px;
    width: 54%;
    min-width: 160px;
}

.searchRoot {
    position: relative;
    left: 0px;
    height: 36px;
    padding: 2px 2px;
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 150px;
}

.searchInput {
    margin-left: 14px;
    flex: 1;
}

.searchButton {
    width: 37px;
    height: 37px;
    padding: 12px;
}

.filterSelector {
    position: relative;
    left: 4%;
}

.statusSelector {
    position: relative;
    left: 8%;
}

.selectorWidth {
    min-width: 80px;
}
