.card {
    margin: 4px;
}

.toDoText {
    position: relative;
    width: 350px;
}

.createDate {
    position: relative;
    width: 80px;
}

.updateDate {
    position: relative;
    width: 80px;
}

.more {
    position: relative;
    right: 0px;
}
