.card {
    margin-top: 24px;
    margin-bottom: 4px;
    width: 700px;
    height: 64px;
    display: flex;
}

.inputField {
    position: relative;
    width: 480px;
    padding-left: 10px;
}

.saveButton {
    position: relative;
    left: 33px;
}

.closeButton {
    position: relative;
    left: 68px;
}
