.card {
    margin-top: 24px;
    margin-bottom: 4px;
    max-width: 700px;
    width: 700px;
    height: 64px;
}

.cardActions {
    width: 100%;
    height: 100%;
}

.inputField {
    position: relative;
    width: 480px;
    padding-left: 10px;
}

.saveButton {
    position: relative;
    left: 33px;
}

.closeButton {
    position: relative;
    left: 68px;
}

@media screen and (max-width: 800px)  {
    .card {
        width: 90%;
        justify-content: center;
    }

    .inputField {
        position: inherit;
        width: 100%;
    }

    .saveButton {
        position: inherit;
        left: inherit;
    }

    .closeButton {
        position: inherit;
        left: inherit;
    }
}

