.card {
    margin: 4px;
    width: 650px;
}

.createDate {
    position: relative;
    width: 80px;
}

.updateDate {
    position: relative;
    width: 80px;
}

.textInput {
    position: relative;
    width: 360px;
}